@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Oto Servis ve Satış .Net Core MVC</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Oto Servis ve Satış uygulaması</a>.</p>
</div>
